
@{
    ViewBag.Title = "Benefits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-default panel-with-round-borders">
    <div class="panel-heading panel-with-round-top-borders">
        <h2>
            Benefits:
        </h2>
    </div>
    <div class="panel-body">
        <div class="well well-with-shadow font-large">
            We offer peace of mind and convenience for parents as children remain in their same familiar classroom environment 
        </div>
        <div class="well well-with-shadow font-large">
            Adds value and a competitive advantage for your centre/school at the time parents review and decide on their children’s education.
        </div>
        <div class="well well-with-shadow font-large">
            We offer peace of mind and convenience for parents as children remain in their same familiar classroom environment 
        </div>
    </div>
</div>


