
@{
    ViewBag.Title = "LearningALanguage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-default panel-with-round-borders">
    <div class="panel-heading panel-with-round-top-borders">
        <h2>
            Why Learn A Language? Because it: 
        </h2>
    </div>
    <div class="panel-body">

        <div class="well well-with-shadow font-large">
            Improves your decision making skills 
        </div>
        <div class="well well-with-shadow font-large">
            Heightens your perception
        </div>
        <div class="well well-with-shadow font-large">
            Enhances the brain’s function & improves memory.
        </div>
        <div class="well well-with-shadow font-large">
            Sharpens problem-solving, negotiating, and reading skills
        </div>

        
        <div class="well-lg">
            <img src="~/Images/lightbulb.png" style="padding-right: 10px; width:32px" />Did you know? Spanish is the 2nd most spoken language in the world (after Mandarin and English), with over 420 million native speakers and over 90 million of non-native speakers. It's an official, national, or widely spoken language in 44 countries, including the United States. The United States is the second largest Spanish-speaking country in the world, after Mexico.
        </div>
        <p class="reference">
            Source:  Ellen Bialystok (2005), researcher at York University in Canada
        </p>

    </div>
</div>

    
    


