
@{
    ViewBag.Title = "OurProgram";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default panel-with-round-borders">
    <div class="panel-heading panel-with-round-top-borders">
        <h2>
            The Program
        </h2>
    </div>
    <div class="panel-body">

        <div class="well well-with-shadow font-large">
            We have a language immersion program – our teaching approach is topic based, where children learn the language in a contextualised environment
        </div>
        <div class="well well-with-shadow font-large">
            We believe in Content and Language Integrated Learning, by using meaningful content and everyday vocabulary in Spanish.
        </div>
        <div class="well well-with-shadow font-large">
            We use songs, rhymes, dance, arts and craft, props, stories, role play and games in Spanish so that children learn in a fun environment
        </div>
        <div class="well well-with-shadow font-large">
            We enhance the students’ learning experience as we can work together with centre’s or pre- schools’s educators and curriucula
        </div>
    </div>
</div>









