
@{
    ViewBag.Title = "Resources";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-default panel-with-round-borders">
    <div class="panel-heading panel-heading-sitestyle panel-with-round-top-borders">
        <h2>Resources:</h2>
    </div>
    <div class="panel-body">

        <div class="well well-with-shadow font-large">
            <p>Music:</p>
            <p style="font-size:smaller">is a way great to immerse children (and adults!) in a 2nd language as they learn the language incidentally, ie. by singing, dancing and having FUN!
            Greetings - Buenos Dias song: <a href="https://www.youtube.com/watch?v=kdDu8pFbnRc">https://www.youtube.com/watch?v=kdDu8pFbnRc</a></p>
              
        </div>
        <div class="well well-with-shadow font-large">
            <p>Numbers:</p>
            <p style="font-size:smaller">Learning the numbers (1 to 10) with the zoo animals): <a href="https://www.youtube.com/watch?v=wpF2ol3KQvM">https://www.youtube.com/watch?v=wpF2ol3KQvM</a></p>
        </div>
        <div class="well well-with-shadow font-large">
            <p>Colours:</p>
            <p style="font-size:smaller">Los Colores: <a href="https://www.youtube.com/watch?v=zpLQSdu4V94">https://www.youtube.com/watch?v=zpLQSdu4V94</a></p>
        </div>
        <div class="well well-with-shadow font-large">
            <p>Parts of the body:</p>
            <p style="font-size:smaller">Head and shoulders, knees and toes song (“Cabeza, hombros, rodillas, pies”): <a href="https://www.youtube.com/watch?v=71hiB8Z-03k">https://www.youtube.com/watch?v=71hiB8Z-03k</a></p>
        </div>
        <div class="well well-with-shadow font-large">
            <p>La Batalla del Movimiento song:</p>
            <p style="font-size:smaller"> <a href="https://www.youtube.com/watch?v=AlZeLejiuio">https://www.youtube.com/watch?v=AlZeLejiuio</a></p>
        </div>
        <div class="well well-with-shadow font-large">
            <p>The Family:</p>
            <p style="font-size:smaller">La Familia: <a href="https://www.youtube.com/watch?v=Dy0msYQYzbs">https://www.youtube.com/watch?v=Dy0msYQYzbs</a></p>
        </div>
        <div class="well well-with-shadow font-large">
            <p>Clothes:</p>
            <p style="font-size:smaller">Juguemos en el bosque song and game: <a href="https://www.youtube.com/watch?v=vxiflhaN-zs">https://www.youtube.com/watch?v=vxiflhaN-zs</a></p>
        </div>
        <div class="well well-with-shadow font-large">
            <p>Cutlery:</p>
            <p style="font-size:smaller">Soy una taza: <a href="https://www.youtube.com/watch?v=zGsQEt-rH-s">https://www.youtube.com/watch?v=zGsQEt-rH-s</a></p>
        </div>
        <div class="well well-with-shadow font-large">
            <p>Prepositions of place video:</p>
            <p style="font-size:smaller">Las preposiciones de lugar: <a href="https://www.youtube.com/watch?v=yjt87A05m2o">https://www.youtube.com/watch?v=yjt87A05m2o</a></p>
        </div>
        <div class="well well-with-shadow font-large">
            <p>Popular Christmas carol:</p>
            <p style="font-size:smaller">Feliz Navidad: <a href="https://www.youtube.com/watch?v=ReJ4PRklbKA">https://www.youtube.com/watch?v=ReJ4PRklbKA</a></p>
        </div>


    </div>
</div>

