
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    Thank you for your enquiry! We will contact with you shortly with a response to your request
</div>

